<div class="alert-box">
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirmation</h4>
    <button
      type="button"
      class="close btn-danger"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <!-- <span aria-hidden="true"> -->
        <fa-icon [icon]="_faXmark"></fa-icon>
      <!-- </span> -->
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to {{ bsModalRef.content?.action }}
    <strong>{{ bsModalRef.content?.data }}</strong
    >?
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-secondary btn-danger"
      (click)="onConfirm()"
    >
      Yes
    </button>
    <button type="button" class="btn btn-secondary" (click)="onCancel()">
      No
    </button>
  </div>
</div>
