/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
@import 'ngx-toastr/toastr';

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* // bs modal custom styles */
.modal-header {
    background-color: #1976d2 !important;
    color: white;

}
.modal-title {
  font-weight: 500;
}
.content-wrap{
  position: relative;
  min-height: 100vh;
  padding-bottom: 2rem;
}
#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
#footer .container{
  background:#9bbd9b;
  padding: 10px;
}
