<div class="container">
  <app-navbar></app-navbar>
<div class="__description">
  <strong>
<p>Welcome to dashboard Roshan</p>

  </strong>
</div>
<div class="__users">
  <div class="__heading">
    <h1>Users</h1>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users;let i =index">
        <th scope="row">{{i+1}}</th>
        <td>{{item.username}}</td>
        <td>{{item.email}}</td>
        <td>
          <button class="btn btn-info __history" (click)="onViewHistory(template,item)">History</button>
        </td>
      </tr>

    </tbody>
  </table>
</div>
</div>




<!-- template for popup  modal -->

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Translation for {{selectedUser?selectedUser.username:''}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Translation Word</th>
          <th scope="col">Translated To</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of translationList;let i =index">
          <th scope="row">{{i+1}}</th>
          <td>{{item.translatedText}}</td>
          <td>{{item.translatedTo |language}}</td>
          <td>
            {{item.createdAt | date:'medium'}}
          </td>
        </tr>

        <tr *ngIf="translationList.length==0">
          <td colspan="4">
            No translation yet.
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</ng-template>
